<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  {{> head }}
  {{{ block 'styles' }}}
</head>
<body>
  {{{ body }}}
  {{{ block 'scripts' }}}
</body>
</html>
